body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to bottom, #62a8ce, #99c8f7);
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: #4f81f7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#printButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #348af4;
    border-color: #000000;
    color: white;
    
    border-radius: 5px;
    cursor: pointer;
  }
  #printButton:hover {
    background-color: #348af4;
  }
